.graygreen {
  background-color: $gray-green;
  border-color: transparent;
  .modal-title {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  &.modal-header {
    padding: .563rem 1.25rem;
  }
}
.create-news {
  &__label {
    color: $main-text-color;
    font-weight: bold;
  }
  &__for-requred {
    color: $red;
  }
  &__header-3 {
    font-size: 24px;
    margin: 30px 0 20px;
  }
  &__dropzone--active {
    background: #ccc;
  }
  &__dropzone-previews {
    border: 1px dashed #666;
    border-radius: 10px;
    color: #666;
  }
  &__dropzone-message {
    padding: 25px;
  }
  &__dropzone-icon {
    float: left;
    margin-right: 25px;
    max-width: 100%;
  }
  &__dropzone-image {
    width: 50px;
  }
  &__dropzone-caption {
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
  }
  &__dropzone-preview {
    height: 9rem;
    max-width: 15rem;
  }
  &__checkbox {
    margin-left: 1.25rem;
  }
}
.hidden {
  display: none !important;
}