.city-info {
  align-items: center;
  display: flex;
  background: #ccc;
  height: 18.75em;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  &__img {
    width: 100%;
  }
}
.town-news {

}
.message__not-found {
  color: #ccc;
  position: absolute;
  text-align: center;
  margin: 8rem 0;
  width: 100%;
}