.footer {
  padding: 3.437em 0 2.812em;
  font-size: .875em;
  background-color: $bluegreen;
  color: #327373;
  margin-top: 1.25em;
  &__copyrights {
    text-align: center;
  }
  &__logo {
    width: 12.187em;
  }
  &__link {
    margin-bottom: .312em;
    padding: 0;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
  &__navigation {
    display: flex;
  }
  &__abbr {
    display: inline-block;
    margin-bottom: 2.125em;
  }
}
@media (max-width: 768px) {
  .footer {
    &__navigation {
      display: block;
    }
    &__abbr {
      margin-bottom: 1em;
    }
    &__contacts {
      margin-bottom: .5em;
    }
  }
}