/*Fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic-ext");
/*Variables*/
@import url("variables.css");
/*Project*/
@import url("iuic-news.css");
@import url("top-bar.css");
@import url("nav-bar.css");
@import url("news.css");
@import url("footer.css");
@import url("profile.css");
@import url("article-content.css");
@import url("add-news-modal.css");
@import url("slider.css");
@import url("city-news.css");
@import url("rubrificator.css");
@import url("info-panel.css");
@import url("cl-effect.css");
@import url("top-news.css");
@import url("comments.css");
@import url("images-carousel.css");

body {
  font-family: "Roboto", sans-serif;
  background-color: $body-background-color;
  overflow-x: hidden;
}
a {
  color: $teal;
}
/*--Bootstrap overrides--*/
.btn {
  font-family: "Roboto", sans-serif;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    box-shadow: none;
  }
}
.tooltip-inner {
  padding: 0 .9375em;
  font-size: .75rem;
  background-color: $dark-bluegreen;
  opacity: .9;
  .tooltip.bs-tether-element-attached-top &::before,
  .tooltip.tooltip-bottom &::before {
    border-bottom-color: $dark-bluegreen;
  }
  .tooltip.bs-tether-element-attached-bottom &::before,
  .tooltip.tooltip-top &::before {
    border-top-color: $dark-bluegreen;
  }
  .tooltip.bs-tether-element-attached-left &::before,
  .tooltip.tooltip-right &::before {
    border-right-color: $dark-bluegreen;
  }
  .tooltip.bs-tether-element-attached-right &::before,
  .tooltip.tooltip-left &::before {
    border-left-color: $dark-bluegreen;
  }
}
.card {
  padding: 0;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
  word-wrap: break-word;
  &-header {
    padding: 0;
    border: 0;
    background-color: #fff;
  }
  &-footer {
    border: 0;
    background-color: #fff;
  }
}
.alert {
  padding: 1.036em;
}
/*Date*/
.date {
  font-size: .687rem;
  color: #999;
}
/*Socials*/
.facebook {
  &:hover,
  &:active,
  &:focus {
    color: #23527c;
  }
}
.vk {
  &:hover,
  &:active,
  &:focus {
    color: #507299;
  }
}
.odnoklassniki {
  &:hover,
  &:active,
  &:focus {
    color: #f58220;
  }
}
.twitter {
  &:hover,
  &:active,
  &:focus {
    color: #1da1f2;
  }
}
/*Infographics*/
.info {
  display: flex;
  &__item {
    padding: 0;
    font-size: .812em;
    color: rgba(0,0,0,.3);
    &:hover,
    &:active,
    &:focus {
      color: rgba(0,0,0,.45);
      text-decoration: none;
    }
    &:not(:last-child) {
      margin-right: .625em;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:active,
    &[disabled]:focus {
      color: rgba(0,0,0,.3);
      opacity: 1;
      cursor: default;
    }
    &--article {
      font-size: .875em;
      &:not(:last-child) {
        margin-right: 2em;
      }
      &:first-child {
        margin-right: 1em;
      }
    }
  }
  &__count {
    margin-left: .25em;
  }
}
/*Author*/
.author {
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
  &__avatar {
    width: 2.188em;
    height: 2.188em;
  }
  &__name {
    font-size: .875em;
  }
}
/*Comments*/
.comments {
  &__alert {
    font-size: .875em;
    font-style: italic;
  }
}
/*Transparent forms*/
@define-mixin transparent $tag {
  .$(tag)--transparent {
    padding: .344rem .625rem;
    border-radius: .25rem !important;
    border-color: $dark-bluegreen;
    font-size: .875em;
    background-color: transparent;
  }
}
@mixin transparent input {
  color: #555 !important;
}
@mixin transparent button {

}
.button--transparent {
  &:hover,
  &:active,
  &:focus {
    border-color: $dark-bluegreen;
    background-color: rgba(3, 120, 120, 0.1);
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.custom-offset {
  margin: 0 3rem;
}