.town-info-panel {
  background: transparent url("http://iuic.info/assets/overlay-pattern.png") repeat scroll left top;
  height: 18.75rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 27rem;
  z-index: 2;
  &__widgets {
    padding: 0.313rem;
  }
  &__widget {
    overflow: hidden;
    padding: 0.313rem;
    &:not(:last-child)::after {
    background: #fff;
    content: '';
    display: block;
    height: 0.25rem;
    margin: 0.688rem 0 0 -0.313rem;
    opacity: 0.7;
    }
  }
  &__about {
    display: flex;
    flex-direction: column;
  }
  &__admin-btn {
    align-self: flex-start;
    border-radius: 0.25rem;
    color: #fff;
    display: flex;
    font-size: .9rem;
    text-align: center;
    line-height: 1rem;
    padding: 0.25rem 0;
    margin: .5rem .5rem .5rem auto;
    width: 3.5rem;
    &:hover {
      background: #00525e;
      color: #fff;
      text-decoration: none;
    }
  }
}
.date-time {
  &__container {
    background: rgba(5, 77, 80, 0.6);
    border-radius: 0.25rem;
    color: #fff;
    margin-bottom: 0.25rem;
    opacity: 1;
    text-align: center;
    &--time {
      font-size: 1.25rem;
    }
    &--week-day {
      font-size: 0.75rem;
    }
    &--date {
      font-size: 0.75rem;
    }
  }
}
.widget-currency {
  text-align: center;
  &__container {
    background: rgba(5, 77, 80, 0.6);
    border-radius: 0.25rem;
    color: #fff;
    margin-bottom: 0.25rem;
    opacity: 1;
    &--name {
      display: inline-block;
      font-size: 1.25rem;
      padding: 0 .25rem;
    }
    &--USD {
      font-size: 0.75rem;
    }
    &--RUB {
      font-size: 0.75rem;
    }
  }
}
.wether {
  &__icon {
    height: 3.125rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }
  &__temp {
    clear: both;
  }
}
.temp {
  &__container {
    background: rgba(5, 77, 80, 0.6);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    opacity: 1;
    padding: 0 .7rem;
    &--fahrenheit {
      float: left;
    }
    &--celsius {
      float: right;
    }
  }
}
.about {
  &__container {
    align-items: center;
    color: #fff;
    height: 6.25rem;
    display: flex;
    font-size: 2rem;
    justify-content: flex-start;
  }
  &__img {
    margin-right: 1rem;
    width: 3rem;
  }
}