.iuic-news {
  &__carousel {
    position: relative;
  }
  &__button-group {
    position: absolute;
    left: calc(50% - 11rem);
  }
}
.country-button {
  &__container {
    float: left;
    z-index: 1;
    .dropdown-menu {
      background: rgba(0,0,0,.2) url(http://iuic.info/assets/overlay-pattern.png);
      height: 17rem;
      margin: 0;
      overflow: auto;
      width: 11rem;
    }
    .dropdown-item {
      color: #fff;
      padding: 0 0 0 1.5rem;
      &:hover,
      &:focus {
        background: #00525e;
        color: #fff;
        outline: none;
      }
    }
  }
  &__btn {
    background: rgba(0, 0, 0, 0.2) url(http://iuic.info/assets/overlay-pattern.png);
    border: none;
    border-bottom: 0.063rem solid #00525e;
    border-radius: 0;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    height: 2rem;
    text-transform: uppercase;
    padding-top: 0;
    padding-bottom: 0;
    width: 11rem;
    &:hover,
    &.active {
      background: #00525e;
      color: #fff;
    }
  }
  &__search-field {
    background: transparent;
    border: none;
    color: #fff;
    padding: 0.25rem;
    width: 100%;
    &:active,
    &:focus {
      outline: none;
    }
  }
}