.town-carousel {
  background: #ccc;
  height: 18.75em;
  &__item {
    background-size: cover;
    background-position: center center;
    height: 18.75em;
    width: 100%;
  }
  &__city {
    position: absolute;
    left: 6em;
    top: 2em;
  }
  &__city-link {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 0 5px #333;
    &:hover {
      color: #fff;
    }
  }
}