.similar-news {
  &__title {
    border-left: 3px solid #ddd;
    color: #999;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 3px 0 3px 10px;
    text-transform: uppercase;
  }
  &__news-items {
    margin-top: 1rem;
  }
}
.news-item {
  &__article {
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
  }
  &__link {
    height: 5rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__link--description {
    position: absolute;
    left: 6.5rem;
    top: 0;
  }
  &__img {
    margin-right: .75rem;
    width: 6.25rem;
  }
  &__description {
    color: #222;
    font-size: 13px;
    display: block;
    margin: -4px 0 10px;
    max-width: 12rem;
    word-wrap: break-word;
  }
  &__city {
    font-size: 11px;
    color: #ff5b5b;
    margin-right: 5px;
    text-transform: capitalize;
  }
  &__date {
    color: #999;
    font-size: 11px;
  }
  &__footer {
    margin-top: 2.5rem;
    margin-left: 6.5rem;
  }
}